{% macro destroy_button(action, text) %}
  <form method="post" action="{{action}}" style="display: inline-block;" class="destroy-form" data-confirm="Are you sure you want to Delete this?">
    <button type="submit" class="btn-sm btn-danger">{{text|default('Delete')}}</button>
  </form>
{% endmacro %}

{% macro done_button(action, value, check) %}
  <form method="post" action="{{action}}" style="display: inline-block;">
  	<input type="hidden" name="status" value="{{value}}">
    {%if value == 1 %}<button type="submit" class="btn btn-info">
    {% else %}<button type="submit" class="btn btn-outline-success">
    {% endif %}
    <span class="glyphicon glyphicon-{{check|default('unchecked')}}"></span></button>
  </form>
{% endmacro %}