{% extends "base.html" %}
{% block content %}
{% if user_logged_in %}
  <!-- Ignore this, it's just temporary -->
  <div class="well well-sm">
    <span class="glyphicon glyphicon-user"></span><span> Logged in as user {{user_logged_in.username}}</span>
  </div>
{% endif %}

{% if message %}
<div class="alert alert-success">{{message}}</div>
{% endif %}
<div class="btn-group">
  <a class="btn btn-primary" href="{{base_path}}/task/new" role="button">Add new task</a>
</div>
<hr>

<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Done</th>
        <th>Task</th>
        <th>Project</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for task in tasks %}
      <tr>
      	<td><a class="btn-info btn-sm" href="{{base_path}}/task/{{task.id}}/done"><span class="glyphicon glyphicon-unchecked"></span></a> <!-- TODO: add functionality to mark as done -->
        <td><a href="{{base_path}}/task/{{task.id}}">{{task.description}}</a></td>
        <td>{{task.project}}</td> <!-- TODO: this comes from elesewhere -->
        <td><label class="label label-danger">{{task.priority}}</label></td>
        <td>{% if task.status %}
          <label class="label label-info">done</label>
        {% else %}
          <label class="label label-danger">unfinished</label>
        {% endif %}
        </td>
        <td>{{task.created}}</td>
        <td><a class="btn btn-default btn-sm" href="{{base_path}}/task/{{task.id}}/edit">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}