{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h3>All Projects</h3>
<div class="alert alert-warning" role="alert">Warning! Don't delete projects with tasks in them yet!</div>
{% if message %}
<div class="alert alert-success">{{message}}</div>
{% endif %}
<div class="btn-group">
  <a class="btn btn-default" href="{{base_path}}" role="button">Tasks</a>
  <a class="btn btn-primary" href="{{base_path}}/project/new" role="button">Create new project</a>
</div>
<hr>

<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Id</th>
        <th>Tasks</th>
        <th class="buttcol"></th>
        <th class="buttcol"></th>
      </tr>
    </thead>

    <tbody>
      {% for project in projects %}
      <tr>
        <td><a href="{{base_path}}/project/{{project.id}}">{{project.name}}</a></td>
        <td>{{project.id}}</td>
        <td>{{project.taskcount}}</td>
        <td><a class="btn btn-default btn-sm" href="{{base_path}}/project/{{project.id}}/edit">Edit</a></td>
        <td>{{forms.destroy_button("#{base_path}/project/#{project.id}/destroy")}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}